#Загрузка XLS файла

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [41]:
import shutil
import pandas as pd
from datetime import date

In [72]:
file_in = 'dataset1_02.xlsx'
file_out_xls = 'output.xlsx'
file_out_csv = 'output.csv'
shutil.copy(f'/content/drive/MyDrive/UII/Fintex/{file_in}', f'/content/{file_in}')

'/content/dataset1_02.xlsx'

In [5]:
excel_file = pd.ExcelFile(file_in)

In [6]:
df = excel_file.parse(excel_file.sheet_names[0])

In [11]:
df.head()

,region_name,city_name,population,date of birth,gender,education,position,dt_nbki,id_nbki,issued,...,volume_commitment,amount_surety,surety_period,source_information,maximum_amount_overdue_indebtedness,date_credit_state,beginning_days_delinquency_counting,type_debt,amount_principal_debt_repaid,availability_support
0,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2013-10-07,...,NaN,0.0,NaT,Банк,0.0,2023-01-12,2014-09-13,NaN,113018.48,0.0
1,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2013-11-06,...,NaN,0.0,NaT,Банк,0.0,2023-01-12,2014-09-02,NaN,9999.73,0.0
2,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2016-04-05,...,NaN,0.0,NaT,МФО,0.0,2016-04-14,NaT,NaN,5000.00,0.0
3,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2016-04-16,...,NaN,0.0,NaT,МФО,0.0,2016-05-12,NaT,NaN,5000.00,0.0
4,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2016-05-13,...,NaN,0.0,NaT,МФО,0.0,2016-06-11,NaT,NaN,5000.00,0.0

In [98]:
df[:5]

,region_name,city_name,population,date of birth,gender,education,position,dt_nbki,id_nbki,issued,...,volume_commitment,amount_surety,surety_period,source_information,maximum_amount_overdue_indebtedness,date_credit_state,beginning_days_delinquency_counting,type_debt,amount_principal_debt_repaid,availability_support
0,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2013-10-07,...,NaN,0.0,NaT,Банк,0.0,2023-01-12,2014-09-13,NaN,113018.48,0.0
1,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2013-11-06,...,NaN,0.0,NaT,Банк,0.0,2023-01-12,2014-09-02,NaN,9999.73,0.0
2,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2016-04-05,...,NaN,0.0,NaT,МФО,0.0,2016-04-14,NaT,NaN,5000.00,0.0
3,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2016-04-16,...,NaN,0.0,NaT,МФО,0.0,2016-05-12,NaT,NaN,5000.00,0.0
4,Новосибирская область,г. Барабинск,29122.0,1980-07-28,Женский,Высшее,работник бюджетной сферы,2023-03-05,27ab5815-bb2d-11ed-b80d-3cfdfed12971,2016-05-13,...,NaN,0.0,NaT,МФО,0.0,2016-06-11,NaT,NaN,5000.00,0.0

#Предобработка датасета

In [90]:
# Параметры предобработки

min_amount = 1000       # минимальная сумма кредита
min_year_credit = 2004  # минимальный год выданного кредита

print('Количество строк до обработки:', df.shape[0])

# удаление строк по условиям
df = df.drop(df[df.issued.dt.year < min_year_credit].index)  # минимальная дата выданного кредита
df = df.drop(df[df.amount < min_amount].index)               # минимальная сумма кредита

# удаление строк с пустым значением в определённых столбцах
df = df.drop(df[df.type_credit==''].index)    # тип кредита
df = df.drop(df[df.status_credit==''].index)  # статус кредита

# удаление строк с недопустимой валютой (не RUR)
df = df.drop(df[df.currency!='RUB'].index)

print('Количество строк после обработки:', df.shape[0])

Количество строк до обработки: 167105
Количество строк после обработки: 162761

#Сохранение обработанного датасета в XLS и CSV

In [100]:
df.to_excel(file_out_xls)
shutil.copy(f'/content/{file_out_xls}', f'/content/drive/MyDrive/UII/Fintex/{file_out_xls}')

Exception ignored in: <function ZipFile.__del__ at 0x7f9db4b46dd0>
Traceback (most recent call last):
  File "/usr/lib/python3.10/zipfile.py", line 1821, in __del__
    self.close()
  File "/usr/lib/python3.10/zipfile.py", line 1838, in close
    self.fp.seek(self.start_dir)
ValueError: seek of closed file

'/content/drive/MyDrive/UII/Fintex/output.xlsx'

In [93]:
df.to_csv (file_out_csv, index=False)
shutil.copy(f'/content/{file_out_csv}', f'/content/drive/MyDrive/UII/Fintex/{file_out_csv}')

'/content/drive/MyDrive/UII/Fintex/output.csv'